
/* * {
	border: 1px solid #731810;
} */

/* colors:
off-black: #181D26;
blue-gray: #343840;
camel: #A68256;
chocolate: #59381B;
Merlot:  #591708;
Pinot Noir: #731810; */

/* font-family: 'Darker Grotesque', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Josefin Slab', serif; */

body {
	background-color: #181D26;
	color: #181D26;
	font-family: 'Josefin Slab', serif;
	text-align: center;
}

a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

h1 {
	text-align: center;
	font-family: 'Special Elite', cursive;
	background-color: #591708;
	color: #fff;
	margin: 0 auto;
	padding: 10px;
	font-size: 50px;
}

h2 {
 text-align: center;
 line-height: 30px;
 padding: 10px;
 margin: 5px auto;
 font-size: 30px;
 color: #fff;
}

h3 {
font-size: 30px;
line-height: 40px;
color: #fff;
}

h4 {
color: #A68256;
width: 80%;
padding: 0 30px;
line-height: 25px;
text-align: center;
font-size: 30px;
}

p {
	width: 80%;
	padding: 0 30px;
	line-height: 25px;
	text-align: center;
	margin: 5px auto;

}

ul {
	list-style: none;
}

li {
	list-style: none;
	font-size: 25px;
	line-height: 35px;
	text-align: left;

}

button {
	font-family: 'Special Elite', cursive;
	align-self: center;
  background: #A68256;
  color: #000;
  padding: 10px;
  border-radius: .5;
  text-align: center;
  box-shadow: 1px 1px #731810;
	font-size: 16px;
	margin: 10px;
	border: 1px solid black;
	cursor: pointer;
	border-radius: 5%;
	width: 90%;
}

button:hover {
	cursor: pointer;
  background: #731810;
  box-shadow: 1px 1px #59381B;
  color: white;

}

.container {
	max-width: 800px;
	margin: 0 auto;
	background-color: #343840;
}

/* ======= MODAL Section ======== */
#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#modal-textbox {
	background-color: white;
	height: auto;
	width: 100%;
	max-width: 400px;
	border-radius: 2px;
	line-height: 12px;
	padding: 2px;
	margin: 15px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#modal-text > h3{
		color: #000;
	}

#modal-footer {
	text-align: center;
}

#drinkImage < img {
	width: 250px;
	height:250px;
}

#modal-recipe {
	font-size: 25px;
	line-height: 35px;
	width: 80%;
	padding: 20px;
}

#modal-recipe > h4 {
	padding-left: 60px;
	text-align: center;
}


/*  =========== HEADER ======== */
.banner {
	display: flex;
	justify-content:center;
	align-items: flex-end;
	background-color: #731810;
	height: 300px;
	background-image: url(images/adam-jaime.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin: 0 auto;
}

.subTitle {
	width: 100%;
	background-color: #000;
	padding: 0 10px;
	margin: 0 auto;
}

/*  =========== Favorite ======== */

.favorite {
	display: none;
	text-align: center;
}

.favoriteName > h4{
	color: #fff;
	font-size: 25px;
	align-self: center;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
}

#see-favorite {
	width: 150px;
}


#save {
	display: none;
}

#favDrinkImage {
	width: 150px;
	height: 150px;
}

/*  =========== MAIN ======== */
.main {
	margin: 5px -1px;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	width: 100%;
	margin: 5px -1px;
}


/*  =========== Flexbox ======== */
.flex-box {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

.liquor {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	background-color: #591708;
	margin-bottom: 30px;
	width: 38%;

}

.liquor > img {
	width: 100%;

}

/*  =========== MAIN TWO ======== */
/* on click change main2 display to flex */
/* .main2 {
	margin: 5px -1px;
	display: none;
	justify-content: space-around;
	flex-flow: row wrap;
	width: 800;
	margin: 5px -1px;
}

.flavor {
	display: flex;
	flex-flow: column wrap;
	width: 30%:
	height: 300px;
	background-color: white;
	margin-right: -1px;
	margin-bottom: 30px;
}

.flavor > img {
	width: 210px;
	height: 210px;
}  */

/*  =========== FOOTER ======== */
.footer {
	display: flex;
	align-items: center;
	flex-flow: column;
	text-align: center;
	font-size: 15px;
	padding-top: 10px;
	margin: 0 auto;
	/* padding: 0 10px; */
	line-height: 20px;
	background-color: #000;
	color: #A68256;
}

/*  =========== DESKTOP ======== */
@media (min-width: 600px) {


	h1 {
		font-size: 50px;
	}

	h2 { font-size: 25px;
		color: #fff;
	}

	h3 {
		font-size: 30px;
		line-height: 40px;
		color: #A68256;
	}

	h4 {
		font-size: 30px;
	}

	.liquor {
		width: 30%;
		max-height: 300px;
		max-width: 210px;
		background-color: #591708;
	}

	.liquor > img {
		width: 100%;
		max-height: 210px;
		max-width: 210px;
	}

	.banner {
		height: 300px;
		background-image: url(images/adam-jaime-banner.jpg);
	}

	.subTitle {
		background-color: rgba(166, 130, 86, 0.5);
	}

	button {
		font-size: 15px;
		width: 70%;
		font-size: 20px;
		border-radius: 5%;
	}

	.main {
		width: 800;
	}

	#modal-textbox {
		width: 550px;
	}

	#modal-text > h3{
			color: #000;
		}

	#modal-recipe {
		font-size: 25px;
		line-height: 35px;
		width: 80%;
		padding: 20px;
	}

	#modal-recipe > h4 {
		padding-left: 60px;
		text-align: center;
	}


	#generateNA {
		font-size: 16px;
	}


}
